<% content_for :other_js do|c|%>
  <%= javascript_include_tag "pic" %>
  <%= javascript_include_tag "jqueryui" %>
<%end%>
<script type="text/javascript">
  $(document).ready(function(){
      new PicController($(".drop_file"), $("#ul_for_pic"), "/pages", "150px", {title:'index_images'}, null, 4, function(data){console.log(data);})  
  });
</script>
<h1><%= "管理员 #{@user.nickname}"%></h1>

<div id="index_images">
  <h1>首页焦点图</h1>
  <%if @pages['index_images']%>
    <% @pages['index_images'].pictures.each_with_index do|picture, i| %>
    <%= pic_preview(picture) %> 
    <%end%>
  <%end%>
  <div class="drop_file upload_button btn btn-primary">
    点击上传图片<br />或<br />拖动文件到此处
  </div>
  <ul id="ul_for_pic" class="show_upload_pic unstyled"></ul>

  <hr>
</div>

