<%= javascript_include_tag "pic" %>
<h1><%= "管理员 #{@user.nickname}"%></h1>

<div id="index_images">
  <h1>首页焦点图</h1>
  <%if @pages['index_images']%>
    <% @pages['index_images'].pictures.each_with_index do|picture, i| %>
    <%= pic_preview(picture) %> 
    <%end%>
  <%end%>
  <div class="drop_file upload_button btn btn-primary">
    点击上传图片<br />或<br />拖动文件到此处
    <input type="file" multiple id="upload_input" style="height:100%;" />
  </div>
  <ul id="ul_for_pic" class="show_upload_pic unstyled"></ul>

  <hr>
</div>

