
<% if comments.size > 0 %>
  <% comments.each do|c| %>
    <div class="comment_each"> 
      <div class="head_div">
        <span><%= c.user_name%> :<%= c.content%></span><br/>
        <%= c.created_at %>
      </div>
      <div class="empty_height"></div>
    </div>
  <%end%>
<%end%>
