<% unless new_or_edit? %>
  <div id="sidebar">
    <div class="sidebar_container ui_container">
      <%= user_information_sidebar(user) %>
    </div>
    <div class="sidebar_container catagory_container">
      <div class="empty_height"></div>
      <%= catagory_sidebar(user) %>
      <div class="empty_height"></div>
    </div>
  </div>
<%end%>
