<div id="user_information">
  <%= show_user_head user %>
  <div class="modal" id="upload_head">
    <div class="modal-header">
      <button class="close" data-dismiss="modal">×</button>
      <h3>快速设置你的头像</h3>
    </div>
    <div class="modal-body">
      <%= simple_form_for user, :html => {:id => 'upload_head_form', :class => 'form-inline', :multipart => true }, :wrapper => :default do |f| %>
        <%= f.input :picture, :as => :file, :label => false, :wrapper_html => {style:"display:inline-block;margin-left:95px; width:50%;"} %>
        <%= f.button :submit, '确定', :class => 'btn-primary' %>
      <%end%>
    </div>
  </div>
</div>
