<div id="eu_form_div" class="tab-pane active">
  <% @notifications.each do|n|%>
    <div>
      @<%= n.senderable.get_user_name%> 评论了你的文章 <%= link_to n.senderable.article.title, article_path(n.senderable.article_id)%>  
      <br />
      <strong> <%= n.senderable.content%> </strong>
    </div>   
  <% end %>
</div>
