<div id="edit_user_div">
  <div id="edit_user_left">
    <ul class="nav nav-pills nav-stacked">
      <li class="active"><%= link_to "个人资料", "#eu_form_div"%> </li>
      <li><%= link_to "博客管理", "#eu_blogmanage_div"%></li>
      <li><%= link_to "社交授权", "#eu_social_div"%></li>
    </ul>
  </div>
  <div id="edit_user_right" class="tab-content">
    <div id="eu_form_div" class="tab-pane active">
      <%= render :partial => 'form', :locals => {:action=>'edit'} %> 
    </div>

    <div id="eu_blogmanage_div" class="tab-pane">
      <h1>blogmanage!!!</h1>
    </div>

    <div id="eu_social_div" class="tab-pane">
      <h1>socail!!!</h1>
    </div>
  </div>
</div>
