// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.

@import "twitter/bootstrap/mixins";

$bc: #4c5a76;
$fs: 18px;

@mixin fstyle {
  font-size: $fs; 
}

@mixin white_radius {
  background: white;
  @include border-radius(4px);
}


////////article/////////////
#article {
   @include fstyle;
   @include border-radius(4px);
    width: 74%;
    background: #f2f2f2;
    padding: 0 30px;
    float: left;
    border-right: 1px solid gray;
}

#article_title {
  @include fstyle;
}

#article_content{
  @include fstyle;
  height: 70%;
}

.article_each {
  border-bottom: 1px dashed gray;
  margin-bottom: 15px;
  margin-top: 5px;
}

#article_form {
  margin-left: 57px;
  margin-top: 12px;
  //height: 100%;
}

#create_button_div {
  float:right;
  margin-top: 10px;
}

#signup_new {
  clear:both;
  padding: 0 72px;
}
/////////////end_article///////////////

/////////catagory////////////////////

#comment_textarea {
  height:85px;
}

#catagory {
  width: 100%;
  background-color: #f2f2f2;
}

#catagories_select {
  height:30px;
  font-size:16px; 
}

#add_catagory_modal {
  display: none;
}
////////////end_catagory/////////////
/////////////sidebar/////////////
.little_fontsize {
  font-size:14px;
}

#sidebar {
  width: 20%;
  float: left;
  background: red;
}

.avatar_image{
  display: inline-block;
  width:80px;
  height:80px;
  background-image: image-url("avatar/small.png");
}

///////end_sidebar//////////
///////user_information/////////
#user_information {
  @include white_radius();
}

#upload_head {
  display: none;
}
///////end_user_information//////


