//$bc: #4c5a76;
$bc:rgba(222,222,224,1);
//$article_background_color: #f8f8f8;
$article_background_color: white;
$hc: black;

@mixin white_radius {
  border-radius: 4px;
}

@mixin article_box_shadow() {
  @include box-shadow(0 0 0 2px rgba(94,94,102,0.1));
}

@mixin markdown_h_color($c:#333) {
  h1,h2,h3,h4,h5,h6{
    color: $c;
    //border-bottom: 1px solid $gray-lighter;
  }
}

@mixin word_break {
  word-wrap: break-word;
  word-break: break-all;
}

@mixin head {
  a,i,img {
    display:block;
  }
  span {
    margin-top:5px;
    display: inline-block; 
  }
}

@mixin markdown_img($w:100%) {
    img { 
      max-width:$w;
      display:block;
      margin: 0 auto;
      @include box-shadow(3px 3px 7px 1px hsla(0, 0%, 0%, 0.65));
    }
}

@mixin markdown_blockquote($blockquote:92%) {
  @include markdown_h_color(black);
  blockquote {
      border-radius: 2px;
      width:$blockquote;
      margin: 0 auto 12.5px;
      border:none;
      padding: 5px 20px 0px 20px;
      background: #e1e1e1;
      p {
        margin:0;
        padding:0;
      }
  }
}

@mixin markdown_li($bw) {
  li {
    width: $bw;
    display: block;
    margin-left: 0 auto;
  }
}

@mixin markdown_style($blockquote:92%,$m_color: darken(#5c5c5c, 10%)) {
  @include markdown_blockquote($blockquote);
  $mb: 22px;
  p {
    margin-bottom: $mb;
    font-size:18px;
    strong {
      font-weight: bolder;
      color: #333;
    }
  }
  pre {
    margin-bottom: $mb;
    color: $m_color;
  }
  ul, ol{
    width:$blockquote;
    margin:0 auto; 
    margin-bottom: $mb;
  }
  color: $m_color;
}

.word_break {
  @include word_break();
    overflow-x:auto;
}

.backward {
  color:rgba(179, 175, 175, 0.26);
  font-size:14px;
}

.markdown {
  @include markdown_style();
  @include markdown_h_color();
}
////////article/////////////
#article {
  position: relative;
  float: left;
  background: $article_background_color;
  @include article_box_shadow();
  overflow: auto;
  zoom: 1;
}

.article_link_button {
  margin-right:14px;
}
.head_div {
  @include head();
  float: left;
  display: inline-block;
}

.right_shadow {
  @include box-shadow(4px 0 0 0 rgba(94,94,102,0.1));
}

.article_edit_width {
  width: 100%;
}

.article_normal_width {
  width: 77%;
}

.title_h {
  font-size:40px;
  a {
    color: $text-color;
    &:hover {
      color: $link-color;
      font-size:41px;
    }
  }
  border-bottom: 1px solid $gray-lighter;
}

.empty_height {
  height: 15px;
  clear: both;
}

.articles_hr {
  height: 16px;
  clear: both;
  background: $bc;
  position: absolute;
  left: 0;
  width: 100%;
}

.time {
  color:$gray-light;
  font-size:14px;
  a {
    color:$gray-light;
  }
}

#articles {
  width:98%;
  clear:both;
  color:#333;
  h1,h2,h3,h4,h5,h6{
    color:#333;
  }
  display:inline-block;
  float: left;
  //margin-left: 20px;
  margin-top: 40px;
  @include markdown_img();
  img{
    margin: 0;
  }
}

#article_edit {
  width:95%;
  height:97%;
  margin:15px auto 0;
  background: $article_background_color;
  position:relative;
}

#article_form {
  height: 89%;
}

#switch_sidebar_button {
  float:right;
  height:100%;
  border-radius: 0px 4px 0px 0px;
  cursor: pointer;
  a {
    outline: none;
    &:hover {
      text-decoration:none;
    }
  }
  i {
    color:rgba(136, 135, 135, 0.26);
  }
}

.button_return {
  border-left:1px solid #e8e8e8;
  border-right:1px solid #e8e8e8;
}

.bg_darker {
  background: #e7e7e7;
}

.counter {
}

$lifontsize:17px;
#form_toolbox {
  //position:absolute;
  //top:87px;
  //left: 3px;
  //visibility: hidden;
  li {
    float:left;
    a {
      font-size: $lifontsize;
      color: grey;
      &:hover {
        font-size: $lifontsize+10;
        color: $link-color;
        text-decoration: none;
      }
    }
  }
}
$content_height:95%;
#ul_showpic {
  //border: 1px solid black;
  float:left;
  display:none;
  margin-left: 26px;
  margin-bottom: 0px;
  width:18%;
  height: $content_height;
  overflow: auto;
  li {
    position: relative; 
    margin-bottom: 2px;
    cursor: pointer;
    a.remove_pic{
      text-decoration: none;
      display: inline-block;
      position: absolute;
      top: 0px;
      right: 0px;
      z-index:80;
      &:hover {
        color:write;
      }
    }
    a.append_pic{
      font-size: 12px;
      display: inline-block;
      top:50%;
      left:50%;
      position: absolute;
      height: 24px;
      margin-top:-12px;
      width: 24px;
      margin-left:-24px;
      //background: black;
      //font-color: white; 
      opacity: 0.7;
    }
  }
  div.footer{
    height:20px;
  }

}

.ul_content_wrapper{
  height:90%;
}

#article_title {
  width:56%;
}

.edit_preview_width {
  width:50%;
}

#content_wrapper {
  clear: both;
  float: left;
  height: 95%;
  margin-bottom: 0px;
}

.content_showpic_width{
  width: 77%;
}

#article_content{
  width: 99%;
  height: $content_height+1;
}

#article_show_content{
  @include markdown_style();
  @include markdown_h_color(#333);
}

.article_each {
  @include markdown_style();
  margin-bottom: 15px;
  @include word_break();
  padding: 5px 29px 0 45px;
  //@include box-shadow(3px 3px 7px 1px hsla(0, 0%, 0%, 0.65));
  .each_buttons{
    
  }
}

.hover_background {
  background: rgba(0, 122, 255, 0.03);
}


#article_form {
  margin: 0 auto;
  //height: 100%;
}

#preview {
  display:none;
  width:50%;
  background:$article_background_color;
  float: left;
  overflow-y: auto;
  @include markdown_img(50%);
}

.border_left {
  border-left: 1px dashed grey;
}


#preview_container {
  width:96%;
  margin:12px auto 0;
}

#preview_title {
  h1{
    font-size: 32px;
  }
}

#preview_content {
  @include markdown_style(83%);
  @include markdown_h_color(#333);
  @include word_break();
  //margin-top: 17px;
  background: $article_background_color;
}

.markdown_content {
  @include markdown_style(83%);
  @include markdown_h_color(#333);
  @include word_break();
  @include markdown_img();
  margin-top: 17px;
  background: $article_background_color;
  overflow-y: auto;
}


#temp_textarea {
  margin-top: 17px;
  width:98%;
  background: $article_background_color;
  overflow-y: auto;
  display:block;
}


#create_button_div {
  float:right;
  margin: 3px 22px 0px 0px;
}

#signup_new {
  clear:both;
  padding: 0 72px;
}
/////////////end_article///////////////

/////////catagory////////////////////
.catagory_container {
  background-color: #f3f3f3;
  margin-top: 3px;
}
#catagory {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #888888;
  a {
    font-size: 16px;
    color: #888888;
  }
}

#catagories {
  margin-top: 4px;
}
#catagories_select {
  height:35px;
  font-size:16px; 
  width:16%;
}

#add_catagory_modal {
  display: none;
}

.catagory_each {
  font-size:16px;
  a[data-method='delete'] {
    display:none;
  }
}
////////////end_catagory/////////////
/////////////sidebar/////////////
.little_fontsize {
  font-size:14px;
}

#sidebar {
  width: 22%;
  float: right;
  span {
    a {
      text-decoration: none;
      i {
        color: orange;
      }
    }
  }
}

.sidebar_container {
  @include word_break();
  @include article_box_shadow();
  padding:0 28px 0;
}


.avatar_image{
  display: inline-block;
  width:80px;
  height:80px;
  background-image: image-url("avatar/small.png");
}

.sidebar_title {
  font-size: 20px;
}

///////end_sidebar//////////
///////user_information/////////
.ui_container {
  background-color: white;
}

#user_information {
}

#upload_head {
  display: none;
}
$ui_color: #444444;
#user_head {
  @include head();
  margin:0 auto;
  width: 100%;
  //border: 1px solid #dedede; 
  font-size: 20px;
  color: $ui_color;
  padding: 16px 0 0 0;
}

#user_description_div {
  @include word_break();
  font-size:16px;
  color: $ui_color;
  margin-bottom: 20px;
}
///////end_user_information//////
///////comment///////////////
#comment_commit_div {
  float:left;
  width:88%;
  margin-left: 13px;
}
#comment_textarea {
  height:70px;
  width: 100%;
  display:block;
  margin: 0 0 0 0;
  padding: 0 0 0 0 ;
}

#visitor_name, #visitor_email{
  display:none;
}

#comment_commit_button {
  float:right;
  display:none;
}

.comment_each {
}

.comment_content {
  width:88%;
  margin-left: 13px;
  float:left;
  @include word_break();
}

.comment_name{
  float:left
}

.comment_reply {
  display:none;
  a {
    &:hover{
      text-decoration: none;
    }
  }

  i {
    font-size:14px;
  }
}

.comment_current_content {

}

#comment {
  background: #f2f2f2; 
  border-radius: 4px;
}

#comments {
  border-radius: 4px;
  margin:0 auto 0 20px;
  padding-top: 15px;
  width: 95%;
}

///////end_comment//////////
////////notification /////
.notification_each {
  @include markdown_style(); 
  border-bottom: 1px solid #ddd;
  margin-top: 12px;
}

#notifications {
  width:97%;
  margin: 0 auto;
}

.notification_content {
  margin-left:12px;
}
///////end_notification//////////
////////authentication/////
.authentication_each {
  @include markdown_style(); 
    border-bottom: 1px solid #ddd;
  margin-top: 12px;
}

#authentications {
  width:97%;
  margin: 0 auto;
  td,th {
    text-align: center;
    vertical-align: middle;
  }

  table {
    margin-top:15px;
  }

  h2 {
    color: $gray;
    border-bottom: 1px solid $gray-lighter;
  }
}

.luser_name {
  font-size: 12px;
}

///////end_authentication//////////
////////////draft//////////////
#draft {
  display:none;
  font-size:14px;
  table {
    tr {
      cursor:pointer;
      max-width:560px;
      @include word_break();
      td {
        max-width:560px;
        @include word_break();
      }
    }
  }
  a {
    font-size:14px;
  }
  @include markdown_blockquote(91%);
  width:900px;
  left:36%;
  $temp_fz:12px;
  font-size: $temp_fz;
  .nav-tabs{margin-bottom:2px;}
  h4{
    margin: 1px 0px 0px;   
    border-bottom: none;
  }
  td{
    h1,h2,h3,h4,h5,h6{
      border-bottom: none;
    }
  }
  a {
    font-size: $temp_fz;
  }
  code{
    font-size: $temp_fz;
  }
  pre {
    font-size: $temp_fz;
  }
  
  blockquote{
    font-size: $temp_fz;
    p{font-size: $temp_fz;}
  }
  @include markdown_img(50%);
}

#table_div {
  margin-top:-25px;
}

#automatic_draft {
}

#manual_draft {
}

.popover-content {
  font-size:14px;
}

.width-all {
  width:400px;
}

.del_link {
  color:$red;
}
////////////markdown_hint////////
#markdown_hint {
  display:none;
  @include markdown_blockquote(91%);
  width:900px;
  left:36%;
  $temp_fz:12px;
  font-size: $temp_fz;
  .nav-tabs{margin-bottom:2px;}
  h4{
    margin: 1px 0px 0px;   
    border-bottom: none;
  }
  td{
    h1,h2,h3,h4,h5,h6{
      border-bottom: none;
      margin: 0px 0px;
    }
  }
  a {
    font-size: $temp_fz;
  }
  code{
    font-size: $temp_fz;
  }
  pre {
    font-size: $temp_fz;
    margin: 0 0 0 0;
  }
  pre.cleanpre{
    font-size: $temp_fz;
    border: none;
    background: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
  pre.fs_bigger{
    font-size: $temp_fz+1;
  }
  blockquote{
    font-size: $temp_fz;
    p{font-size: $temp_fz;}
  }
}
/////////// markdown_hint end ///////
///-----------drag & drop-------------
$drag_height: 250px;
.drag_to {
  border: 2px dashed grey;
  height: $drag_height;
  position: relative;
  text-align: center;
  span {
    display:block;
    margin-top: 25px;
    font-size: 25px;
  }
  .btn_in_drag {
    width: 40%;  
    position: absolute;
    top: 50%; 
    left: 50%;
    margin-left: -23%;
    height: $drag_height / 5;
    line-height:$drag_height / 5;
    margin-top: - ($drag_height / 5 / 2);
  }
}

.drop_file {
  //input {
    //position: absolute;
    //right: 0px;
    //top: 0px;
    //font-family: Arial;
    //font-size: 118px;
    //margin: 0px;
    //padding: 0px;
    //cursor: pointer;
    //opacity: 0;
    //height: auto;
  //}
}

.upload_button {
  width: 200px;
}

.show_upload_pic {
  li {
    float: left;
    margin-left: 10px;
  }
}




////////////end_draft
