// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$bc: #4c5a76;
$fs: 18px;

@mixin fstyle {
  font-size: $fs; 
}

#article {
  @include fstyle;
  background: #f2f2f2;
  padding: 0 30px;
}

#article_title {
  @include fstyle;
}

#article_content{
  @include fstyle;
  height: 100%;
}

.article_each {
  border-top: 1px dashed gray;
  margin-bottom: 15px;
}

