// Place all the styles related to the catagories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#catagory {
  width: 12%;
  border: 1px solid orange;
  float: left;
}
