$gridColumnWidth: 81px;
$gridGutterWidth: 20px;
$baseFontSize: 19px;
$baseLineHeight: 25px;
$sansFontFamily: "Microsoft Yahei",微软雅黑,"Helvetica Neue", Helvetica, Arial, sans-serif;
@import "twitter/bootstrap";

$bc: #4c5a76;
$bb: #202e4b;


@mixin cw(){
  color: darken(#000000, 10%);
}

@mixin white_radius {
  background: white;
  @include border-radius(4px);
}

html, body {
  background: $bb;
  @include cw();
    height:100%;
  padding:20px;
}

h1,h2{
  @include cw();
}

a {
}

#container {
  padding: 10px;
}

.desc_textarea {
  height: $baseLineHeight*3; 
}

.jlabel {
  color: white;
  display: inline;
}

.font_red {
  color: #9d261d;
}

.clear {
  clear:both;
}

#login {
  margin-top: 60px;
  height: 328px;
}

#login_left {
  height: 100%;
  width: 60%;
  background: red;
  float: left;
}

#login_right {
  height: 100%;
  width: 40%;
  float: left;
}

#login_form {
  background: white;
  padding-top: 15px;
  @include border-radius(4px);
    margin-bottom: 10px;
}

#signup_form {
  background: white;
  padding-top: 15px;
  padding-bottom: 11px;
  @include border-radius(4px);

  input {
    width: 90%;
    display: block;
    margin: 0 auto;
  }

  #signup_submit {
    display:inline-block;
    width: 30%;
    margin-left: 202px;
  }
}

#new_user_h {
  display:inline-block;
  margin-left: 19px;
}

.grey_font {
  color: grey;
}

$input_width: 90%;
.input {
  width: 100%;
  margin-bottom: 10px;
}

#login_user_name {
  width: $input_width;
  margin: 0 auto;
  display: block;
}

#login_user_password {
  width: 100%;
}

#input_password_div {
  width: $input_width - 20%; 
  margin-left: 19px;
  margin-bottom: 0px;
  float: left;
}

#input_rememberme_div {
  clear: both;
  margin-left: 18px;
  width:107px;
}

#user_form_toolbar li {
  display: inline-block;
  float: left;
  font-size: 14px;
  margin-right: 14px;
  a:hover {
    font-size: 15px;
  }
}

.gray_light {
  color: $grayLight;
}

.strong {
  font-weight: bolder;
}


$border_color_grey: rgba(0,0,0,0.1);
.border_bottom_grey {
  border-bottom: 1px solid $border_color_grey;
}
.margin_bottom {
  margin-bottom: 15px;
}
.border_grey {
  border: 1px solid $border_color_grey;
}
.border_none {
  border: 0px;
}

/////user/////////////
$new_user_margin_left: 67px;
#new_user_title {
  color: #333333;
  margin: 4px 0 15px $new_user_margin_left;
}

#new_user_form {
  margin-left:$new_user_margin_left;
  input {
    width: 40%;
  }
}

#new_user_div {
  width: 100%;
  height: 100%;
  border: 1px solid $border_color_grey;
  @include border-radius(4px);
    background: white;
}

#edit_user_div {
  width: 100%;
  height: 100%;
  @include border-radius(4px);
}

#edit_user_left {
  @include white_radius();
  width:30%;
  float:left;
  margin-right: 16px;
  background:white;
}

#edit_user_right {
  @include white_radius();
  width:68%;
  float:right;
  background:white;
  h2 {
    color: $gray;
  }
}

/////end_user////////

///flash///
#flash {
  margin: 15px auto 0;
  color: white;
  @include border-radius(4px);
}
.notice {
  background: $green;
}

.error {
  background: $red;
}

.wraning {
  background: $blue;
}

#flash_content {
  width:95%;
  margin: 5px auto;
}

///end_flash /////////
