$gridColumnWidth: 67px;
$baseFontSize: 18px;
$baseLineHeight: 22px;
@import "twitter/bootstrap";

$bc: #4c5a76;
$bb: #202e4b;

@mixin cw(){
  color: darken(#000000, 10%);
}

html, body {
  background: $bb;
  @include cw();
  height:100%;
  padding:20px;
}

h1,h2{
  @include cw();
}

a {
  color: orange;
}

#container {
  padding: 10px;
}

.desc_textarea {
  height: $baseLineHeight*3; 
}

.jlabel {
  color: white;
  display: inline;
}

#login {
  margin-top: 60px;
  height: 328px;
}

#login_left {
  height: 100%;
  width: 60%;
  background: red;
  float: left;
}

#login_right {
  height: 100%;
  width: 40%;
  float: left;
}

#login_form {
  background: white;
  padding-top: 15px;
  @include border-radius(4px);
    margin-bottom: 10px;
}

#signup_form {
  background: white;
  padding-top: 15px;
  padding-bottom: 15px;
  @include border-radius(4px);
  
  input {
    width: 90%;
    display: block;
    margin: 0 auto;
  }
  
  #signup_submit {
    display:inline-block;
    width: 30%;
    margin-left: 163px;
  }
}

#new_user_h {
  display:inline-block;
  margin-left: 14px;
}

.grey_font {
  color: grey;
}

$input_width: 90%;
.input {
  width: 100%;
  margin-bottom: 10px;
}

#login_user_name {
  width: $input_width;
  margin: 0 auto;
  display: block;
}

#login_user_password {
  width: 100%;
}

#input_password_div {
  width: $input_width - 20%; 
  margin-left: 15px;
  margin-bottom: 0px;
  float: left;
}

#input_rememberme_div {
  clear: both;
  margin-left: 15px;
}

/////user/////////////
$new_user_margin_left: 67px;
#new_user_title {
  color: #333333;
  margin: 4px 0 15px $new_user_margin_left;
}

#new_user_form {
  margin-left:$new_user_margin_left;
  input {
    width: 40%;
  }
}

$border_color_grey: rgba(0,0,0,0.1);
#new_user_div {
  width: 100%;
  height: 100%;
  border: 1px solid $border_color_grey;
  @include border-radius(4px);
  background: white;
}
/////end_user////////
