$gridColumnWidth: 67px;
$baseFontSize: 18px;
$baseLineHeight: 22px;
@import "twitter/bootstrap";

$bc: #4c5a76;
$bb: #202e4b;

@mixin cw(){
  color: darken(#000000, 10%);
}

html, body {
  background: $bb;
  @include cw();
  height:100%;
  padding:20px;
}

h1,h2{
  @include cw();
}

a {
  color: orange;
}

#container {
  padding: 10px;
}

.desc_textarea {
  height: $baseLineHeight*3; 
}

.jlabel {
  color: white;
  display: inline;
}
