<% unless @breadcrumbs.blank? %>
  <ul class="breadcrumb hide">
    <% @breadcrumbs.each_with_index do |b, i|%>
      <% unless i == (@breadcrumbs.size-1) %> 
        <li>
          <%= b %>  <span class="divider">/</span>
        </li>
      <%else%>
        <li class='active'>
          <%= b %>
        </li>
      <%end%>
    <%end%>
  </ul>
<%end%>
