<div id="catagory">
  <%= (link_to "+", "#add_catagory_modal", "data-toggle"=>'modal') if owner? %> 
  <div id="catagories">
        <%= catagory_sidebar_list(@catagories) unless @catagories.nil? %>
  </div>
</div>
