<style>
  #foot_id {
    margin: 0 auto;
  }

  #foot_ul {
    background: yellow;   
  }

  #foot_ul li {
    list-style: none;
    float: left;
  }
</style>

<div class="span8" id="foot_id">
  <ul id="foot_ul">
    <li><%= link_to '简介', 'www.gu-da.com'%> </li>
    <li><%= link_to '源代码', 'www.gu-da.com'%> </li>
    <li><%= link_to 'a', 'www.gu-da.com'%> </li>
    <li><%= link_to 'b', 'www.gu-da.com'%> </li>
  </ul>
</div>
